.container {
  max-width: 1440px;
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  @media (max-width: 1465px) {
    padding-left: 25px;
    padding-right: 25px;
  }
  @media (max-width: 1025px) {
    justify-content: space-around;
  }

}
.container:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
}
.cardWrapper {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-top: 65px;
  .cardImage {
    width: 260px;
    height: 260px;
    margin-bottom: 11px;
  }
  h2{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #000000;
  }
  .cardMenuWrapper {
    background: #F3F3F3;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 12px;
    .cardMenuDough {
      margin-top: 15px;
      display: flex;
      justify-content: space-around;
      .cardMenuThin {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        padding: 2px 13px;
        margin-right: 5px;
        cursor: pointer;
      }
      .active{
        background-color: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        padding: 2px 13px;
        margin-right: 5px;
        cursor: pointer;
      }
      .cardMenuTraditional {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2C2C2C;
      }
    }
    .cardMenuSize {
      margin-top: 5px;
      display: flex;
      justify-content: space-around;
      .cardMenuMin {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        padding: 1px 5px;
        margin-bottom: 7px;
        cursor: pointer;
      }
      .active {
        background-color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.015em;
        color: #2C2C2C;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        padding: 1px 5px;
        margin-bottom: 7px;
        cursor: pointer;
      }
    }
  }
  .cardTotalPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    div {
      font-style: normal;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.015em;
      color: #000000;
      margin-right: 36px;
    }
    .cardTotalPriceButton {
      background: #FFFFFF;
      border: 1px solid #EB5A1E;
      border-radius: 30px;
      display: flex;
      padding: 10px 15px;
      align-items: center;
      max-width: 155px;
      cursor: pointer;
    }
      img{
        width: 12px;
        height: 12px;
      }
      span{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #EB5A1E;
        margin-left: 5px;
      }
      .cardTotalPriceAmount {
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 16px;
        color: #FFFFFF;
        background-color: #EB5A1E;
        padding: 3px 7px;
        border-radius: 50%;
        margin-left: 5px;
      }
  }
}